@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/space-grotesk-v1-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/space-grotesk-v1-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/space-grotesk-v1-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/space-grotesk-v1-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  font-size: 12px;
}

body {
  background: black;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#app {
  font-weight: 500;
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

.hidden-mobile { display: none; }

.mobile-row {
  display: flex;
}

.column-small-gutter {
  margin: 0 0.5rem;
}

.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-right: 0;
}

.box-top {
  margin: 3.75rem 1.75rem 0;
  border: 1px solid white;
  border-bottom: none;
  padding: 1.8125rem;
  font-size: 2.5rem;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.box-bottom {
  margin: 0 1.75rem 2.75rem;
  padding: 1.625rem;
  border: 1px solid white;
  border-top: none;
  justify-content: center;
}

.frame {
  background: white;
  color: black;
  padding: 2rem 1.75rem;
  text-align: left;
}

.divider {
  background: black;
  height: 1px;
  margin: 2.25rem 0 1.875rem;
}

@media (min-width: 768px) {
  .hidden-mobile { display: initial; }
  .hidden-desktop { display: none; }

  :root {
    font-size: 16px;
  }

  .row {
    display: flex;
  }

  .column {
    margin: 0 1rem;
    flex: 1;
  }
}
